/* *{box-sizing: border-box;
}  */
body {
    background-color: black;
}
div.container{
    background-color:rgb(124, 123, 126);
    padding: 10px;
}
 div.card {
    background-color: rgb(139, 132, 87);
}
button {
    color: rgb(86, 58, 91);
    /* background-color: rgb(139, 132, 87); */
    background-color: rgb(105, 126, 79);
}

p {
    font-size: 24px;
    font-family:cursive;
    font-weight: bold;
}
h1.text-center{
    background-color:rgb(121, 98, 126);
margin-top: 20px;
border-radius: 20px 20px;
}
button:hover{
color:rgb(233,233,233);
}